body {
    margin: 0;
    background-color: #CCC;
    font-family: "Karantina", system-ui;
    color: #fff;
    display: flex;
}

.search_container {
    flex: 1;

    padding: 40px 32px;
    min-height: 100vh;
                /*Faz com que com a padding seja incluido no width fazendo ele não trocar de tamanho*/
    box-sizing: border-box;
}

.search_bar {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
}

.search_bar input {
    flex: 1;
    padding: 14px 20px;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    /*Tira a borda azul quando clica no form*/
    outline: none;
    transition: border-color 0.2s;
}

.search_bar input:focus {
    border-color: #C42037;
}

.search_bar button {
    padding: 14px 28px;
    background: #C42037;
    border: none;
    border-radius: 8px;
    color: #0d0d0d;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.2s;
}

.search_bar button:hover {
    background: #ff0022;
}

.aviso {
    color: #888;
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
}

.aviso.erro {
    color: #e05555;
}

.grid_resultado {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.card_cacador {
    background: #1a1a1a;
    border: 1px solid #2a2a2a;
    border-radius: 12px;
    padding: 20px;
    transition: border-color 0.2s, transform 0.2s;
}

.card_cacador:hover {
    border-color: #C42037;
    transform: translateY(-3px);
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.card_ranking {
    font-size: 13px;
    color: #C42037;
    font-weight: 700;
}

.card_nen {
    font-size: 11px;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 20px;
    background: #2a2a2a;
    color: #aaa;
    text-transform: uppercase;
}

.card_nome {
    font-size: 18px;
    font-weight: 700;
    margin-bottom:14px;
    color: #fff;
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 13px;
    color: #999;
}